Django==1.6.1
Mako==0.9.1
MarkupSafe==0.18
Pillow==2.3.0
Whoosh==2.6.0
argparse==1.2.1
django-haystack==2.1.0
html5lib==0.999
httplib2==0.8
lockfile==0.8
oauth==1.0.1
oauthlib==0.6.1
pyOpenSSL==0.13
pycrypto==2.6.1
pycurl==7.19.3
pysmbc==1.0.14.1
pytz==2014.2
urllib3==1.7.1
virtualenv==1.11.4
wsgiref==0.1.2
