/*Referenced from the button generator site: http://www.cssbuttongenerator.com*/
.buttonFormat {
    -moz-box-shadow:inset 0px 1px 0px 0px #0b95ec;
    -webkit-box-shadow:inset 0px 1px 0px 0px #0b95ec;
    box-shadow:inset 0px 1px 0px 0px #0b95ec;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0d8bd9), color-stop(1, #3495d1) );
    background:-moz-linear-gradient( center top, #0d8bd9 5%, #3495d1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d8bd9', endColorstr='#3495d1');
    background-color:#0d8bd9;
    -webkit-border-top-left-radius:42px;
    -moz-border-radius-topleft:42px;
    border-top-left-radius:42px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:42px;
    -moz-border-radius-bottomright:42px;
    border-bottom-right-radius:42px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:3px solid #FFC0CB;/* box outline */
    display:inline-block;
    color:#F0FFFF;/* text in the box */
/*     font-family:Arial; */
    font-size:25px;
    font-weight:bold;
    font-style:normal;
    height:100px;
    line-height:100px;
    width:200px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #86ae47;
    position: relative;
    left:80px;
}

#med-content {
    overflow: auto;
}

.buttonFormat-fran {
    -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0d8bd9), color-stop(1, #3495d1) );
    background:-moz-linear-gradient( center top, #0d8bd9 5%, #3495d1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d8bd9', endColorstr='#3495d1');
    background-color:#0d8bd9;
    -webkit-border-top-left-radius:42px;
    -moz-border-radius-topleft:42px;
    border-top-left-radius:42px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:42px;
    -moz-border-radius-bottomright:42px;
    border-bottom-right-radius:42px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:3px solid #FFC0CB;/* box outline */
    display:inline-block;
    color:#F0FFFF;/* text in the box */
    /*font-family:Arial;*/
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    line-height:30px;
    width:150px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #86ae47;
}

#forumContent {
    width: 45%;
    float: left;
}

#blogContent {
    width:45%;
    float:right;
}
#pictureContent {
    width: 55%;
    float: left;
    padding:10px;
}

#factsContent {
    text-align:left;
    width:35%;
    float: left;
    padding:10px;
}

.medFactsPic {
    border:2px solid pink;
    width:300px;
}

.buttonFormat:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3495d1), color-stop(1, #0d8bd9) );
    background:-moz-linear-gradient( center top, #3495d1 5%, #0d8bd9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3495d1', endColorstr='#0d8bd9');
    background-color:#3495d1;
        color:  #fff;
}

.buttonFormat:active {
    position:relative;
    top:1px;
}


.buttons{
    position: relative;
    height: 30px;
    margin-bottom: 20px;
}

.pageTitle{
    font-size: 80px;
    font-weight: bold;
    color: #0b95ec;
    font-family: 'Ruluko', 'sans-serif';
    position: relative;
    /*left: 200px;*/
    text-align: center;
}

/* http://code-tricks.com/create-a-simple-html5-tabs-using-jquery/ */
.tabs a{
  cursor: pointer;
  padding: 5px;
  background: #fff;
  color: #000;
  border: 1px solid #666;
  border-bottom: 0;
}
.tabs a:hover, .tabs a.active{
  background: #666;
  color: #fff;
}

.tabContent{
  border: 1px solid #aaa;
  margin: 4px 0;
  padding: 5px;
}

#container {
    border: 1px solid #ddd;
    padding: 10px;
    overflow: auto;
}

#reply_button{
    position: relative;
    float: right;
    margin-right: 20px;
}

.q1_rating_table td{
    text-align: center;
}


.filters{
    margin: 15px;
}

.box{
    outline:#FFC0CB outset thick;
    padding: 15px;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;    
}

.thumbs-container{
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

span.glyphicon-thumbs-up, span.glyphicon-thumbs-down {
    font-size: 2em;
}

.votes {
    margin-top: .5em;
}

.tabContent p{
    width: 85%;
}

form {
  text-align: center;
  vertical-align: middle;
}

input {
  margin: 10px;
  font: 16px;
}

/* Menu bar style*/
#main-nav {
/*   background-color: #111; */
  border: none;
  border-radius: 0px;
  height: 75px;
  color: #000000;
}

#logo {
  color: #0b95ec;
  font-size: 4em;
  margin: 10px;
/*   height: 75px; */
}

#menu-items {
/*   color: #fff; */
  margin-top: 25px;
  font-size: 1.4em;
  color: #00f;
}

#menu-items > a {
  color: #0b95ec;
}

.nav-links {
  color: #0b95ec;
  &:hover, &:focus {
    color: #fff;
  }

}

body {
  font-family: 'Ruluko', 'sans-serif';
}

body {
  background-color: rgba(255, 192, 203, 0.2);
}

.btn:hover {
  text-decoration: underline;
  color: ;
}

.section {
  border: 1px solid #fcc;
  background-color: #fff;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
}
