

{% if results %}
    <h2>Results</h2>
    <div class="quest-list">
    {% for result in results %}   
    
     <div class="row question-list">
        <div class="col-md-10" id="list-body">
            <h4 class="question-title">{{ result.object.title }}</h4>
            <div class="question-content">{{ result.object.content }}</div>
            <div class="question-footer">
                <a href='{{result.object.get_absolute_url}}'>View Responses</a>
                <a href='#' onclick="showCommentBox()">Comment</a>
            </div>
            <textarea class="comment-box form-control" rows="2" placeholder="Enter comment below then press enter to post" ></textarea>
        </div>
        <div class="thumbs-container col-md-1">
            <button class="vote-img post-upvotes" data-post-id="{{result.object.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></button>
            <div id="post-upvotes-count-{{result.object.id}}" class="votes">{{ result.object.upvotes }}</div>
        </div>
        <div class="thumbs-container col-md-1">
            <button class="vote-img post-downvotes" data-post-id="{{result.object.id}}"><span class="glyphicon
            glyphicon-thumbs-down"></span></button>
            <div class="votes" id="post-downvotes-count-{{result.object.id}}">{{ result.object.downvotes }}</div>
        </div>
    </div>

    {% endfor %}
    </div>

{% else %}
    <p>No search entered</p>
    {# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}
