{% extends "preggo/base.html" %}

{% load static %} <!-- Says we'll be using static data -->

{% block title %}Answer Question{% endblock %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="add_answer.css" />
	<h1 align="center">Add Answer</h1>
		

	<form id="answer_form" method="post" action="/preggo/question/{{ question_title_url }}/add_answer/">

	<textarea id="textarea" class="span11" name="textarea" rows="10" cols="50">Enter Answer Here</textarea>
	<br>

		<input type="submit" name="submit" class="btn btn-med" value="Post Answer"/>
	</form>
{% endblock %}
