<!DOCTYPE html>

<html>
	<head>
		<title>Preggo</title>
	</head>

	<body>
		<h1>Add a Answer</h1>

		<form id="answer_form" method="post" action="/preggo/question/{{ question_title_url }}/add_answer/">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.label_tag }}
				{{ field }}
				<br>
			{% endfor %}

			<input type="submit" name="submit" value="Post Answer" />
		</form>
	</body>
</html>

