{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.0.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<title>{% block title %}Preggo{% endblock %}</title>
	</head>

	<body>
		<div class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Preggo</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/preggo/">Home</a></li>
						<li><a href="/preggo/medfacts">MedFacts</a></li>
						<li><a href="/preggo/forum">Forum</a></li>
						<li><a href="/preggo/user/{{user.username}}">UserPage</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Edit Profile</a></li>
								<li><a href="#">Change Password</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>


		<div class="container">
			{% block content %}{% endblock %}
		</div>
	</body>

</html>
