{% extends "preggo/base.html" %}

{% load static %} <!-- Says we'll be using static data -->

{% block title %}Ask a Question{% endblock %}

{% block content %}
<div class="container">
	<h1 class="pageTitle">Change Password</h1>

	<form id="change_password_form"  method="post" action="/preggo/change_password_actually/" role="form">
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}

                <div class="form-group">

                    Old Password: 
					<input id="title" type="text" name="title" value="" placeholder="Old Password"><br><br>

					New Password: 
					<input id="title" type="text" name="title" value="" placeholder="New Password"><br><br>

					New Password Again: 
					<input id="title" type="text" name="title" value="" placeholder="New Password Again"><br><br>

                </div>

		<input type="submit" class="btn btn-med" name="change_password" value="Change Password" />
		<input type="submit" name="cancel_change_password" class="btn btn-med" value="Cancel"/>
	</form>
	
	
</div>      
{% endblock %}