{% extends "preggo/base.html" %}

{% load static %} <!-- Says we'll be using static data -->

{% block title %}Forum{% endblock %}

{% block content %}

<div class="container">
  <h1 class="pageTitle">Forum</h1>
  <div class="buttons">
    <a href="/preggo/add_question"><button class="buttonFormat-fran" id="ask_question" align="left"> + Ask Question </button></a>
    <a href="#" class="pull-right"><button class="buttonFormat-fran" id="find_answers" align="right"> Find Answers </button></a>
  </div>

  <div class="section" id="warning-note"><h4>Please note that the answers given below are not necessarily medical facts. Please refer any serious problems to your doctor.<h4></div>

  <div class="browse_questions section">
    <h2>Browse Questions</h2>
    <form class="filters" ction="">
      <input type="radio" name="browse_filter" value="recent">Recent
      <input type="radio" name="browse_filter" value="highest_rated">Highest Rated
      <input type="radio" name="browse_filter" value="unanswered">Unanswered
    </form>
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">All</a></li>
      <li><a href="#tab2" data-toggle="tab">Planning</a></li>
      <li><a href="#tab3" data-toggle="tab">Preggo</a></li>
      <li><a href="#tab4" data-toggle="tab">New Mom</a></li>
      <li><a href="#tab5" data-toggle="tab">Experience Mom</a></li>
    </ul> 
    <div id="my-tab-content" class="tab-content">  
      <div class="tab-pane active " id="tab1">
      {% if questions %}
        <div class="quest-list">
        {% for question in questions %}
        <div class="row question-list">
          <div class="col-md-10">
            <h4 class="question-title">{{ question.title }}</h4>
            <div class="question-content">{{ question.content }}</div>
            <div class="question-footer">
              <a href='/preggo/question/{{question.url}}'>View Responses</a>
              <a href='/preggo/question/{{question.url}}/add_answer' >Reply</a>
            </div>
          </div>
          <div class="thumbs-container col-md-1">
            <button class="vote-img quest-upvotes" data-quest-id="{{question.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></button>
            <div id="quest-upvotes-count-{{question.id}}" class="votes">{{ question.upvotes }}</div>
          </div>
          <div class="thumbs-container col-md-1">
            <button class="vote-img quest-downvotes" data-quest-id="{{question.id}}"><span class="glyphicon
            glyphicon-thumbs-down"></span></button>
            <div class="votes" id="quest-downvotes-count-{{question.id}}">{{ question.downvotes }}</div>
          </div>
        </div>
        {% endfor %}
        </div>
      {% endif %}
      </div>

      <div class="tab-pane" id="tab2">
        <h5>Tab2</h5>
        <p>Donec pellentesque sapien neque, ac lobortis erat facilisis quis. Praesent faucibus arcu eros. Proin id tortor euismod, vulputate neque id, placerat nunc.</p>
      </div>

      <div class="tab-pane" id="tab3">
        <h5>Tab3</h5>
        <p>Duis justo mi, egestas euismod placerat a, eleifend vitae lacus. Integer non odio nec libero lacinia vulputate. Phasellus ante lectus, congue vel volutpat vitae, dictum quis est. </p>
      </div>

      <div class="tab-pane" id="tab4">
        <h5>Tab4</h5>
        <p>Nulla varius sit amet augue vel consequat. Aenean faucibus vehicula interdum. Integer eleifend, lectus eget vulputate feugiat, nibh nulla congue ipsum, eu mattis tortor nulla vitae diam. Maecenas rutrum risus non libero ullamcorper, nec vehicula sapien tincidunt. </p>
      </div>

      <div class="tab-pane" id="tab5">
        <h5>Tab5</h5>
        <p>Suspendisse vulputate ornare dui, sed luctus est mattis nec. Curabitur ut dolor eleifend, vulputate purus et, ullamcorper tortor. In posuere ultricies lectus. Vestibulum vitae odio ut est sagittis porta. </p>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
    $('#tabs').tab();
    });
  </script>  
</div>

{% endblock %}