{% extends "preggo/base.html" %}

{% load static %} <!-- Says we'll be using static data -->

{% block title %}Welcome to Preggo{% endblock %}

{% block content %}
<div class="container">
    <h1 class="pageTitle">Welcome To Preggo</h1>
    <div class="section" id="preggo-info"> 
      <h4>Preggo is a social network for individuals trying to have a baby, pregnant women, and new moms. It provides a platform where people can ask questions and share their experiences</h4>
    </div>

    <div id="tmp-content">
        <form id="search_form" method="get" action="/preggo/search" role="form">
            <div class="section">
                <input id="id_q" class="form-control" type="text" name="q">
                <input id="search-submit" class="btn btn-lg" type="submit" value="Finds Posts">
            </div>
            <div id="search-results" class="section">
            </div>
        </form>  
    </div>
</div>
{% endblock %}
