{% extends "preggo/base.html" %}

{% load static %} <!-- Says we'll be using static data -->

{% block title %}Log In{% endblock %}

{% block content %}
    <h1>Login to Preggo</h1>

    <form id="login_form" method="post" action="/preggo/login/">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />

        <input type="submit" value="submit" />
    </form>

{% endblock %}