{% extends "preggo/base.html" %}

{% load static %}

{% block title %}MedFacts{% endblock %}

{% block content %}

<div class="container">
	<h1 class= 'pageTitle'> Medical Facts </h1>
  <div id="med-content" class="section">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Planning</a></li>
      <li><a href="#tab2" data-toggle="tab">First Trimester</a></li>
      <li><a href="#tab3" data-toggle="tab">Second Trimester</a></li>
      <li><a href="#tab4" data-toggle="tab">Third Trimester</a></li>
      <li><a href="#tab5" data-toggle="tab">Baby</a></li>
    </ul> 
    <div id="my-tab-content" class="tab-content">  
      <div class="tab-pane active" id="tab1">
        <h1>Planning to Have a Baby</h1>
        <div id="pictureContent">
          <img class="medFactsPic" src="{{MEDIA_URL}}Images/Planning.png">
        </div>
        <div id="factsContent">
          <h3>How to plan:</h3>
          <a href="http://www.childbirthconnection.org/article.asp?ck=10293">Overview on the importance of planning</a><br>
          <a href="http://www.parents.com/pregnancy/considering-baby/">What every parent should know about planning</a><br>
          <a href="http://www.cdc.gov/preconception/planning.html">A simple plan</a><br>
          <h3>Getting ready for pregnancy:</h3>
          <a href="http://www.cdc.gov/preconception/overview.html#PrconceptionHealthCare">Preconception Heath Care</a><br>
          <a href="http://www.cdc.gov/preconception/men.html">How your partner can help</a><br>
          <h3>Conception:</h3>
          <a href="http://www.babycenter.com/0_seventeen-things-you-should-do-before-you-try-to-get-pregnan_7171.bc">How to concieve</a><br>
        </div>
      </div>
      
      <div class="tab-pane" id="tab2">
        <h1>First Trimester</h1>
        <div id="pictureContent">
          <img class="medFactsPic" src="{{MEDIA_URL}}Images/FirstTri.jpg">
        </div>
        <div id="factsContent">
          <h3>What to expect:</h3>
          <a href="http://www.webmd.com/baby/guide/first-trimester-of-pregnancy">An overview of the first trimester</a><br>
          <a href="http://www.webmd.com/baby/guide/first-trimester-of-pregnancy">Your physical and emotional state</a><br>
          <a href="http://www.parenting.com/article/first-trimester-symptoms">How your body changes</a><br>
          <h3>Ensuring your baby's development:</h3>
          <a href="http://www.webmd.com/baby/1to3-months">How your baby grows</a><br>
          <a href="http://www.babycenter.com/0_the-ultimate-pregnancy-to-do-list-first-trimester_10341205.bc">How to promote healthy growth</a><br>
        </div>
      </div>
      
      <div class="tab-pane" id="tab3">
        <h1>Second Trimester</h1>
        <div id="pictureContent">
          <img class="medFactsPic" src="{{MEDIA_URL}}Images/SecondTri.jpg">
        </div>
        <div id="factsContent">
          <h3>What to expect:</h3>
          <a href="http://www.webmd.com/baby/guide/second-trimester-of-pregnancy">An overview of the second trimester</a><br>
          <a href="http://www.parenting.com/article/Pregnancy-Symptoms-Second-Trimester">Your physical and emotional state</a><br>
          <a href="http://www.mayoclinic.org/healthy-living/pregnancy-week-by-week/in-depth/pregnancy/art-20047732">Physical and mental changes</a><br>
          <h3>Ensuring your baby's development:</h3>
          <a href="http://www.babycenter.com/0_the-ultimate-pregnancy-to-do-list-second-trimester_10341208.bc">The second trimester todo list</a><br>
          <h3>Abortion:</h3>
          <a href="http://www.nlm.nih.gov/medlineplus/abortion.html#cat1">An overview of abortion</a><br>
          <a href="http://www.webmd.com/women/dilation-and-evacuation-de-for-abortion">The abortion process</a><br>
        </div>
      </div>
      
      <div class="tab-pane" id="tab4">
        <h1>Third Trimester</h1>
        <div id="pictureContent">
          <img class="medFactsPic" src="{{MEDIA_URL}}Images/ThirdTri.jpg">
        </div>
        <div id="factsContent">
          <h3>What to expect:</h3>
          <a href="http://www.webmd.com/baby/guide/third-trimester-of-pregnancy">An overview of the third trimester</a><br>
          <a href="http://www.mayoclinic.org/healthy-living/pregnancy-week-by-week/in-depth/pregnancy/art-20046767">Physical changes</a><br>
          <h3>Ensuring your baby's development:</h3>
          <a href="http://www.babycenter.com/0_the-ultimate-pregnancy-to-do-list-third-trimester_10341209.bc">The third trimester todo list</a><br>
          <a href="http://americanpregnancy.org/duringpregnancy/fetaldevelopment3.htm">How your baby grows</a><br>
          <a href="http://www.parents.com/pregnancy/my-life/preparing-for-baby/third-trimester-to-do-list/">Preparing for your new arrival</a><br>
        </div>
      </div>
      
      <div class="tab-pane" id="tab5">
        <h1>After Pregnancy</h1>
        <div id="pictureContent">
          <img class="medFactsPic" src="{{MEDIA_URL}}Images/Newborn.jpg">
        </div>
        <div id="factsContent">
          <h3>What to expect:</h3>
          <a href="http://kidshealth.org/parent/pregnancy_newborn/medical_care/mednewborn.html">An overview of your Newborn baby</a><br>
          <a href="http://www.parents.com/baby/care/newborn/first-week-with-baby/">The initial days of motherhood</a><br>
          <h3>You and your newborn baby:</h3>
          <a href="http://www.babycenter.com/0_what-i-wish-id-known-about-preparing-for-life-with-a-newborn_1482512.bc">What every new mother should know</a><br>
          <a href="http://raisingchildren.net.au/newborns/newborns.html">Rasing your child</a><br>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      jQuery(document).ready(function ($) {
          $('#tabs').tab();
      });
    </script>  
  </div>
</div>
{% endblock %}
