{% extends "preggo/base.html" %}

{% load static %}

{% block title %}MedFacts{% endblock %}

{% block content %}

<div id="container">
	<h1 class= 'pageTitle'> Medical Facts </h1>
  <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Planning</a></li>
      <li><a href="#tab2" data-toggle="tab">First Trimester</a></li>
      <li><a href="#tab3" data-toggle="tab">Second Trimester</a></li>
      <li><a href="#tab4" data-toggle="tab">Third Trimester</a></li>
      <li><a href="#tab5" data-toggle="tab">Baby</a></li>
    </ul> 
    <div id="my-tab-content" class="tab-content">  
      <div class="tab-pane active" id="tab1">
        <h1>Planning to Have a Baby</h1>
        <img  width="300" height="225" border="1" src="{{MEDIA_URL}}Images/Planning.png">
        <h5>Why Planning is Important</h5>
        <a href="http://www.childbirthconnection.org/article.asp?ck=10293">Overview on the importance of planning</a>
        <h5>Things to consider</h5>
        <a href="http://www.parents.com/pregnancy/considering-baby/">What every parent should know</a>
        <h5>Getting Pregnant</h5>
        <a href="http://www.babycenter.com/0_seventeen-things-you-should-do-before-you-try-to-get-pregnan_7171.bc">How to concieve</a>
      </div>
      
      <div class="tab-pane" id="tab2">
        <h1>First Trimester</h1>
        <img  width="300" height="225" border="1" src="{{MEDIA_URL}}Images/FirstTri.jpg">
        <h5>What to expect</h5>
        <a href="http://www.webmd.com/baby/guide/first-trimester-of-pregnancy">The first trimester of pregnancy</a>
      </div>
      
      <div class="tab-pane" id="tab3">
        <h1>Second Trimester</h1>
        <img  width="300" height="225" border="1" src="{{MEDIA_URL}}Images/SecondTri.jpg">
        <h5>What to expect</h5>
        <a href="http://www.webmd.com/baby/guide/second-trimester-of-pregnancy">The second trimester of pregnancy</a>
        <h5>Abortion</h5>
        <a href="http://www.webmd.com/women/dilation-and-evacuation-de-for-abortion">Abortion</a>
      </div>
      
      <div class="tab-pane" id="tab4">
        <h1>Third Trimester</h1>
        <img  width="300" height="225" border="1" src="{{MEDIA_URL}}Images/ThirdTri.jpg">
        <h5>What to expect</h5>
        <a href="http://www.webmd.com/baby/guide/third-trimester-of-pregnancy">The third trimester of pregnancy</a>
      </div>
      
      <div class="tab-pane" id="tab5">
        <h1>After Pregnancy</h1>
        <img  width="300" height="225" border="1" src="{{MEDIA_URL}}Images/Newborn.jpg">
        <h5>What to expect</h5>
        <a href="http://kidshealth.org/parent/pregnancy_newborn/medical_care/mednewborn.html">Your Newborn</a>
      </div>
    </div>
    <script type="text/javascript">
      jQuery(document).ready(function ($) {
          $('#tabs').tab();
      });
    </script>  
  </div>
</div>
{% endblock %}