<!DOCTYPE html>
<html>
<body>

<form>

Question Title: 
<input type="text" name="question_title"><br><br>

Category: <br>
<input type="radio" name="category" value="planning"> Planning
<input type="radio" name="category" value="preggo"> Preggo <br>
<input type="radio" name="category" value="new_mom"> New Mom
<input type="radio" name="category" value="experienced_mom"> Experienced Mom<br><br>

<a href="questionForm.html">Attach Image</a>
<a href="questionForm.html">Attach Video</a>
<br>
<textarea rows="4" cols="50">
</textarea><br>

<a href="forum.html"><input type="button" value="Cancel"></a> 
<a href="forum.html"><input type="button" value="Post"></a>

</form>

</body>
</html>
