{% extends "preggo/base.html" %}

{% load static %} <!-- Says we'll be using static data -->

{% block title %}My Questions and Posts{% endblock %}

{% block content %}
    <body>
    	<h1 class="pageTitle">Forum Page</h1>
    	<div class="buttons">
	    	<a href="questionForm.html"><button class="buttonFormat" id="ask_question" align="left"> + Ask Question </button></a>
	    	<button class="buttonFormat" id="find_answers" align="right"> Find Answers </button>
	    </div>

    	<div class="warning_note"><p>Please note that the answers given below are not necessarily medical facts. Please refer any serious problems to your doctor.</p></div>

    	<div class="question box">
    		<a href="forum.html">Back to Forum</a><br><br>
	    	<h2>Why am I feeling so nauseous?</h2> <hr> <br>
	    	<div class="description">
		    	<p>For the past few days, I've been waking up feeling very nauseous with a slight headache. I'm still in my frist trimester of pregnancy. Is this normal? What can I do to help myself feel better?</p>
	    	</div>
	    	<br><br><br>
	    	<a href="singlePost.html" id="reply_button">Reply</a>
	    	<h3>Comments</h3>
	    		<div class="comments" id="c1">
		    		<h5>helpfulUser23</h5>
		    		<p>It's not uncommon for women to feel that way during their first trimester. If these feelings persist for more than a week, I would talk to your doctor about it. More text here for me to see if this is working. LOLOLOLOLOOLOLOLOLOLOLOLOLOLOL</p>
		    		<table class="q1_rating_table">
		    		<tr>
		    			<td>
						    <a href="forum.html" class="thumbs">
						    	<img src='Symbol_thumbs_up.svg' class='thumbs' id='up' width='50px' height='50px'>
						    </a>
						</td>
						<td>
						    <a href="forum.html" class="thumbs">
						    	<img src='Symbol_thumbs_down.svg' class='thumbs' id='down' width='50px' height='50px'>
						    </a>
						</td>
					</tr>
					<tr>
						<td id="up_rating">10
						</td>
						<td id="down_rating">1
						</td>
					</tr>
				</table>
	    		</div>
	    	<hr>

	    		<div class="comments" id="c2">
		    		<h5>helpfulUser64</h5>
		    		<p>It's not uncommon for women to feel that way during their first trimester. If these feelings persist for more than a week, I would talk to your doctor about it.</p>
		    		<table class="q1_rating_table">
		    		<tr>
		    			<td>
						    <a href="forum.html" class="thumbs">
						    	<img src='Symbol_thumbs_up.svg' class='thumbs' id='up' width='50px' height='50px'>
						    </a>
						</td>
						<td>
						    <a href="forum.html" class="thumbs">
						    	<img src='Symbol_thumbs_down.svg' class='thumbs' id='down' width='50px' height='50px'>
						    </a>
						</td>
					</tr>
					<tr>
						<td id="up_rating">10
						</td>
						<td id="down_rating">1
						</td>
					</tr>
				</table>
	    		</div>
	    	<hr>
		</div>
    	
    </body>

</html>