{% extends "preggo/base.html" %}

{% load static %} <!-- Says we'll be using static data -->

{% block title %}{{user.username}}{% endblock %}

{% block content %}

<div class="container">
  <h1 class="pageTitle">My Posts</h1>
  <div class="section" id="user-info">
    <img id="profile-image" src="{{MEDIA_URL}}/{{ picture }}">
    <p>user information section</p>
  </div>
  <div class="section pull-right" id="user-posts"> 
    <div id="new-post-user-page">
        <input id="new-post" class="btn btn-lg button-common" value="Create a New Post">
    </div>
      {% if user_posts %}
        {% for post in user_posts %}
        <div class="row single-post clickable-hover pull-left">
          <div class="col-lg-10 clickable" data-post-id="{{post.id}}">
            <h4 class="post-title">{{ post.title }}</h4>
            <div class="post-content">{{ post.content }}</div>
          </div>
          <div class="thumbs-container col-lg-1">
            <button class="vote-img post-upvotes" data-post-id="{{post.id}}"><span class="glyphicon glyphicon-thumbs-up"></span></button>
            <div class="votes" id="post-upvotes-count-{{post.id}}">{{post.upvotes}}</div>
          </div>
          <div class="thumbs-container col-lg-1">
            <button class="vote-img post-downvotes" data-post-id="{{post.id}}"><span class="glyphicon glyphicon-thumbs-down"></span></button>
            <div class="votes" id="post-downvotes-count-{{post.id}}">{{post.downvotes}}</div>
          </div>
        </div>          
        {% endfor %}
      {% endif %}
  </div>  
</div>
{% endblock %}