{% extends "preggo/base.html" %}

{% load static %} <!-- Says we'll be using static data -->

{% block title %}{{ question_title}}{% endblock %}

{% block content %}
<div>
	<h1>{{ question_title }}</h1>
	{% if question %}
		<h2>{{ question.category }}</h2>
		<p>{{ question.content }}</p>
		{% if answers %}
		<ul>
			{% for ans in answers %}
			<li> {{ ans.content }} ({{ ans.user.username }}) </li>
			{% endfor %}
		</ul>
		{% else %}
			<strong>No answers yet</strong>
		{% endif %}
	{% else %}
		No answer exists with the given title
	{% endif %}<br>
	<a href="/preggo/question/{{ question.url }}/add_answer/">Add a New Answer</a>
</div>
{% endblock %}